*,*::after,*::before{
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;


}
body {
  background: rgb(238, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  width: 300px;
  height: 300px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  border: 4px solid white;
  box-shadow:  -8px 8px 15px rgba(225,225,225,0.05),
  20px 20px 20px rgba(0,0,0,0.2),
  inset -8px -8px 15px rgba(225,225,225,0.05),
  inset 20px 20px 20px rgba(0,0,0,0.2);
  position: relative;

}
.clock::after {
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 11;
}

.clock .number {
  --roation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--roation));

  font-size: 1.5rem;
  padding: 18px;
}

.number::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 15px;
  background-color: black;
}

.clock .number1 {--roation: 30deg}
.clock .number2 {--roation: 60deg}
.clock .number3 {--roation: 90deg}
.clock .number4 {--roation: 120deg}
.clock .number5 {--roation: 150deg}
.clock .number6 {--roation: 180deg}
.clock .number7 {--roation: 210deg}
.clock .number8 {--roation: 240deg}
.clock .number9 {--roation: 270deg}
.clock .number10 {--roation: 300deg}
.clock .number11 {--roation: 330deg}

.number1 div{
  transform: rotate(-30deg);
}

.number2 div{
  transform: rotate(-60deg);
}
.number3 div{
  transform: rotate(-90deg);
}
.number4 div{
  transform: rotate(-120deg);
}
.number5 div{
  transform: rotate(-150deg);
}
.number6 div{
  transform: rotate(-180deg);

}
.number7 div{
  transform: rotate(-210deg);
}
.number8 div{
  transform: rotate(-240deg);
}
.number9 div{
  transform: rotate(-270deg);
}
.number10 div{
  transform: rotate(-300deg);
}
.number11 div{
  transform: rotate(-330deg);
}


.clock .hand {
  position: absolute;
  bottom: 50%;
  left: 50%;

  border: 1px solid white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: black;
  transform-origin: bottom;
  z-index: 10;
}

.radius {
  width: 100px;
  height: 50px;
  border: 2px solid red;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  overflow: hidden;
  background: mistyrose;
}

.clock .hand.second {
  width: 5px;
  height: 45%;
  background-color: red;
}
.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: black;
}
.clock .hand.hour {
  width: 10px;
  height: 30%;
  background-color: black;
}